In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import pickle

In [3]:
loan_data_inputs_train=pd.read_csv('Data/loan_data_inputs_train.csv',index_col=0)
loan_data_targets_train=pd.read_csv('Data/loan_data_targets_train.csv',index_col=0,header=None)
loan_data_inputs_test=pd.read_csv('Data/loan_data_inputs_test.csv',index_col=0)
loan_data_targets_test=pd.read_csv('Data/loan_data_targets_test.csv',index_col=0,header=None)

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Explore Data

In [4]:
loan_data_targets_train=pd.Series(loan_data_targets_train.iloc[1:,0])

In [5]:
loan_data_targets_train.index=loan_data_targets_train.index.astype('int64')

In [6]:
loan_data_targets_train

0
327896    1
237691    1
249332    1
88093     0
217265    0
         ..
136366    1
270195    0
131746    1
378475    1
171250    1
Name: 1, Length: 373028, dtype: object

In [7]:
loan_data_targets_test=pd.Series(loan_data_targets_test.iloc[1:,0])

In [8]:
loan_data_targets_test.index=loan_data_targets_test.index.astype('int64')

In [9]:
loan_data_targets_test

0
274292    1
346131    1
465415    1
98912     1
452655    1
         ..
91579     1
231699    1
26196     1
319215    1
174927    0
Name: 1, Length: 93257, dtype: object

In [10]:
(loan_data_targets_test.values=='good_bad').sum()

0

In [11]:
loan_data_inputs_test

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
274292,274292,31708045,34311246,8125,8125,8125.000000,36,14.99,281.62,C,...,0,0,0,1,0,0,0,0,0,0
346131,346131,21179763,23482675,3825,3825,3825.000000,36,15.61,133.75,D,...,0,0,0,1,0,0,0,0,0,0
465415,465415,10079489,11931112,10000,10000,10000.000000,36,13.98,341.68,C,...,0,0,0,1,0,0,0,0,0,0
98912,98912,6914877,8556986,20000,20000,20000.000000,36,6.62,614.08,A,...,0,0,0,1,0,0,0,0,0,0
452655,452655,11065117,12977270,5000,5000,5000.000000,36,23.40,194.60,E,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91579,91579,6920128,7431439,9600,9600,9600.000000,36,17.56,344.95,D,...,0,0,0,1,0,0,0,0,0,0
231699,231699,37621093,40383982,20000,20000,20000.000000,36,6.99,617.46,A,...,0,0,0,1,0,0,0,0,0,0
26196,26196,573638,737847,10000,10000,9994.815151,36,15.58,349.51,D,...,0,0,0,1,0,0,0,0,0,0
319215,319215,23483271,25836184,12000,12000,12000.000000,60,14.49,282.28,C,...,0,1,0,1,0,0,0,0,0,0
174927,174927,3004635,3636801,14400,14400,14400.000000,36,13.11,485.96,B,...,0,0,0,0,0,0,0,0,0,1

In [12]:
loan_data_inputs_train

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
327896,327896,23964931,26337651,12000,12000,12000.0,36,16.29,423.61,D,...,0,0,0,0,0,0,0,0,1,0
237691,237691,36261200,38972610,19800,19800,19800.0,60,17.86,501.29,D,...,0,0,0,1,0,0,0,0,0,0
249332,249332,34884391,37567722,2000,2000,2000.0,36,12.99,67.38,C,...,0,0,0,0,0,0,0,1,0,0
88093,88093,7082975,8744579,16425,16425,16375.0,60,12.99,373.64,B,...,0,0,0,1,0,0,0,0,0,0
217265,217265,1284896,1528668,8500,8500,8500.0,36,15.31,295.95,C,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136366,136366,5147014,6469325,12000,12000,11950.0,36,8.90,381.04,A,...,0,0,0,1,0,0,0,0,0,0
270195,270195,32359107,34972337,25000,25000,25000.0,60,20.99,676.20,E,...,0,0,0,1,0,0,0,0,0,0
131746,131746,5626330,7008599,14100,14100,14100.0,36,17.27,504.61,C,...,0,0,0,1,0,0,0,0,0,0
378475,378475,17754159,19886665,7000,7000,7000.0,36,8.39,220.62,A,...,0,0,0,0,0,0,0,0,0,1
171250,171250,3106908,3779333,21000,21000,20950.0,60,16.29,513.93,C,...,0,0,0,1,0,0,0,0,0,0

In [13]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86',
]]

In [14]:
inputs_train_with_ref_cat

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,home_ownership:RENT,home_ownership:OWN,home_ownership:MORTGAGE,...,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
327896,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
237691,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
249332,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
88093,0,1,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
217265,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136366,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
270195,0,0,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
131746,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
378475,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
171250,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [15]:
# Here we store the names of the reference category dummy variables in a list.
ref_categories = ['grade:G',
'home_ownership:RENT',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [16]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
327896,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
237691,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
249332,0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
88093,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
217265,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [17]:
inputs_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373028 entries, 327896 to 171250
Columns: 104 entries, grade:A to mths_since_last_record:>86
dtypes: int64(104)
memory usage: 298.8 MB

In [18]:
loan_data_targets_train=loan_data_targets_train.astype('int64')

# PD Model Estimation

In [33]:
reg=LogisticRegression()
reg.fit(inputs_train,loan_data_targets_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [34]:
reg.intercept_

array([-1.22191535])

In [35]:
reg.coef_

array([[ 1.0197846 ,  0.92278553,  0.74245568,  0.5575971 ,  0.35984105,
         0.19681121,  0.09517843,  0.11170612,  0.06132793,  0.03912304,
         0.07803163,  0.07979899,  0.07361208,  0.15465389,  0.10776164,
         0.19294705,  0.2446717 ,  0.24546916,  0.28504405,  0.34643576,
         0.45437095,  0.10225661,  0.0027716 ,  0.34796403,  0.23336453,
         0.24079826,  0.28932091,  0.11176185,  0.09655206,  0.11923179,
         0.09644137,  0.06732466,  0.07610745,  0.13279002,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.51059134,  0.95952573,  0.51258212,  0.23997178,  0.05518489,
         0.02366825,  0.01217853, -0.01816461,  0.02531671,  0.06063979,
         0.01216939, -0.02703576,  0.77819909,  0.61281904,  0.40431135,
        -0.02994357, -0.10682118, -0.12492668, -0.13317772, -0.13376444,
        -0.17175383, -0.17985541, -0.04907565,  0.48582722, -0.03642359,
        -0.01376169,  0.15778836,  0.06615002,  0.09159463,  0.1273737 ,
         0.14100149,  0.20380809,  0.22357932,  0.40725096, -0.00544586,
         0.05536993,  0.15390759,  0.19200811,  0.29348755,  0.33517855,
         0.43387357,  0.44419712,  0.49696915,  0.58619865,  0.55041771,
        -0.06050913,  0.11081269,  0.10574412,  0.06089643, -0.01405424,
        -0.11271843, -0.12091955, -0.16532318, -0.18492926,  0.04100828,
         0.13632565,  0.14227832,  0.09342727,  0.44953092,  0.51818687,
         0.53465592,  0.72368491,  0.39586604,  0.40171523]])

In [36]:
feature_name=inputs_train.columns.values

In [37]:
summary_table=pd.DataFrame(columns=['feature_name'],data=feature_name)
summary_table['Coefficients']=np.transpose(reg.coef_)
summary_table

                     feature_name  Coefficients
0                         grade:A      1.019785
1                         grade:B      0.922786
2                         grade:C      0.742456
3                         grade:D      0.557597
4                         grade:E      0.359841
..                            ...           ...
99    mths_since_last_record:3-20      0.518187
100  mths_since_last_record:21-31      0.534656
101  mths_since_last_record:32-80      0.723685
102  mths_since_last_record:81-86      0.395866
103    mths_since_last_record:>86      0.401715

[104 rows x 2 columns]

In [25]:
# P values for sklearn logistic regression.

# Class to display p-values for logistic regression in sklearn.

from sklearn import linear_model
import scipy.stats as stat

class LogisticRegression_with_p_values:
    
    def __init__(self,*args,**kwargs):#,**kwargs):
        self.model = linear_model.LogisticRegression(*args,**kwargs)#,**args)

    def fit(self,X,y):
        self.model.fit(X,y)
        
        #### Get p-values for the fitted model ####
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom,(X.shape[1],1)).T
        F_ij = np.dot((X / denom).T,X) ## Fisher Information Matrix
        Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates # z-score for eaach model coefficient
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores] ### two tailed test for p-values
        
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [26]:
# reg = LogisticRegression_with_p_values()
# # We create an instance of an object from the newly created 'LogisticRegression_with_p_values()' class.

In [27]:
# reg.fit(inputs_train, loan_data_targets_train)
# # Estimates the coefficients of the object from the 'LogisticRegression' class
# # with inputs (independent variables) contained in the first dataframe
# # and targets (dependent variables) contained in the second dataframe.

In [38]:
# Chi2 distribution for feature selection

from sklearn.feature_selection import chi2
score,p_value=chi2(inputs_train,loan_data_targets_train)
summary_table['p_value']=p_value
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0],np.nan]
summary_table=summary_table.sort_index()
summary_table

                     feature_name  Coefficients        p_value
0                       Intercept     -1.221915            NaN
1                         grade:A      1.019785   0.000000e+00
2                         grade:B      0.922786  3.430222e-238
3                         grade:C      0.742456   2.943491e-10
4                         grade:D      0.557597  4.667503e-279
..                            ...           ...            ...
100   mths_since_last_record:3-20      0.518187   2.269164e-02
101  mths_since_last_record:21-31      0.534656   3.870474e-02
102  mths_since_last_record:32-80      0.723685   2.590504e-30
103  mths_since_last_record:81-86      0.395866   4.716456e-02
104    mths_since_last_record:>86      0.401715   3.717570e-10

[105 rows x 3 columns]

In [39]:
pd.options.display.max_rows=None

In [40]:
summary_table

                            feature_name  Coefficients        p_value
0                              Intercept     -1.221915            NaN
1                                grade:A      1.019785   0.000000e+00
2                                grade:B      0.922786  3.430222e-238
3                                grade:C      0.742456   2.943491e-10
4                                grade:D      0.557597  4.667503e-279
5                                grade:E      0.359841   0.000000e+00
6                                grade:F      0.196811   0.000000e+00
7                     home_ownership:OWN      0.095178   4.253564e-01
8                home_ownership:MORTGAGE      0.111706   1.172181e-75
9                       addr_state:NM_VA      0.061328   1.033896e-01
10                         addr_state:NY      0.039123   5.253421e-08
11          addr_state:OK_TN_MO_LA_MD_NC      0.078032   8.146834e-04
12                         addr_state:CA      0.079799   4.436056e-03
13                addr_state:UT_KY_AZ_NJ      0.073612   1.594003e-02
14             addr_state:AR_MI_PA_OH_MN      0.154654   7.656450e-01
15             addr_state:RI_MA_DE_SD_IN      0.107762   2.158533e-01
16                   addr_state:GA_WA_OR      0.192947   1.398159e-03
17                      addr_state:WI_MT      0.244672   1.200961e-02
18                         addr_state:TX      0.245469   4.264611e-14
19                      addr_state:IL_CT      0.285044   4.903681e-13
20          addr_state:KS_SC_CO_VT_AK_MS      0.346436   6.702410e-18
21          addr_state:WV_NH_WY_DC_ME_ID      0.454371   5.466113e-13
22      verification_status:Not Verified      0.102257   5.970916e-66
23   verification_status:Source Verified      0.002772   4.821683e-09
24                   purpose:credit_card      0.347964  4.044091e-103
25            purpose:debt_consolidation      0.233365   9.608519e-10
26            purpose:oth__med__vacation      0.240798   3.342514e-40
27   purpose:major_purch__car__home_impr      0.289321   4.214375e-13
28                 initial_list_status:w      0.111762  1.655570e-122
29                               term:36      0.096552   1.382595e-93
30                          emp_length:1      0.119232   5.272666e-01
31                        emp_length:2-4      0.096441   1.666783e-01
32                        emp_length:5-6      0.067325   2.753647e-06
33                        emp_length:7-9      0.076107   4.958474e-01
34                         emp_length:10      0.132790   3.190432e-28
35                mths_since_issue_d:<38      0.000000            NaN
36              mths_since_issue_d:38-39      0.000000            NaN
37              mths_since_issue_d:40-41      0.000000            NaN
38              mths_since_issue_d:42-48      0.000000            NaN
39              mths_since_issue_d:49-52      0.000000            NaN
40              mths_since_issue_d:53-64      0.000000            NaN
41              mths_since_issue_d:65-84      0.510591  9.490400e-294
42                       int_rate:<9.548      0.959526   0.000000e+00
43                 int_rate:9.548-12.025      0.512582  2.456052e-216
44                 int_rate:12.025-15.74      0.239972   9.288895e-07
45                 int_rate:15.74-20.281      0.055185   0.000000e+00
46   mths_since_earliest_cr_line:141-164      0.023668   6.364354e-21
47   mths_since_earliest_cr_line:165-247      0.012179   3.145552e-25
48   mths_since_earliest_cr_line:248-270     -0.018165   7.729815e-03
49   mths_since_earliest_cr_line:271-352      0.025317   2.164644e-10
50      mths_since_earliest_cr_line:>352      0.060640   1.136789e-49
51                         delinq_2yrs:0      0.012169   7.938599e-01
52                       delinq_2yrs:1-3     -0.027036   6.179167e-01
53                      inq_last_6mths:0      0.778199  6.773485e-142
54                    inq_last_6mths:1-2      0.612819   3.900330e-56
55                    inq_last_6mths:3-6      0.404311  1.801938e-169
56                          open_acc:1-3     -0.029944   9.867202e-10
57                         open_acc:4-12     -0.106821   7.971305e-02
58                        open_acc:13-17     -0.124927   1.552753e-02
59                        open_acc:18-22     -0.133178   1.190911e-02
60                        open_acc:23-25     -0.133764   1.959622e-01
61                        open_acc:26-30     -0.171754   1.653721e-01
62                         open_acc:>=31     -0.179855   3.117522e-01
63                           pub_rec:3-4     -0.049076   1.481280e-02
64                           pub_rec:>=5      0.485827   2.207009e-04
65                       total_acc:28-51     -0.036424   9.891938e-18
66                        total_acc:>=52     -0.013762   2.854037e-04
67                    acc_now_delinq:>=1      0.157788   6.894752e-01
68               total_rev_hi_lim:5K-10K      0.066150   9.779829e-31
69              total_rev_hi_lim:10K-20K      0.091595   3.841146e-32
70              total_rev_hi_lim:20K-30K      0.127374   2.656807e-01
71              total_rev_hi_lim:30K-40K      0.141001   1.031015e-08
72              total_rev_hi_lim:40K-55K      0.203808   8.225194e-46
73              total_rev_hi_lim:55K-95K      0.223579   1.259171e-90
74                 total_rev_hi_lim:>95K      0.407251   2.817578e-68
75                    annual_inc:20K-30K     -0.005446   2.788010e-69
76                    annual_inc:30K-40K      0.055370   1.045049e-76
77                    annual_inc:40K-50K      0.153908   2.307242e-29
78                    annual_inc:50K-60K      0.192008   1.086795e-10
79                    annual_inc:60K-70K      0.293488   2.920416e-02
80                    annual_inc:70K-80K      0.335179   3.774241e-08
81                    annual_inc:80K-90K      0.433874   7.462071e-27
82                   annual_inc:90K-100K      0.444197   5.450845e-28
83                  annual_inc:100K-120K      0.496969   1.046959e-49
84                  annual_inc:120K-140K      0.586199   1.264538e-42
85                      annual_inc:>140K      0.550418   1.400685e-65
86                             dti:<=1.4     -0.060509   8.268420e-01
87                           dti:1.4-3.5      0.110813   1.880687e-08
88                           dti:3.5-7.7      0.105744   1.829351e-40
89                          dti:7.7-10.5      0.060896   5.753496e-32
90                         dti:10.5-16.1     -0.014054   3.098385e-27
91                         dti:16.1-20.3     -0.112718   2.823500e-04
92                         dti:20.3-21.7     -0.120920   3.095066e-06
93                         dti:21.7-22.4     -0.165323   1.349091e-06
94                           dti:22.4-35     -0.184929   3.306493e-94
95        mths_since_last_delinq:Missing      0.041008   6.388588e-02
96           mths_since_last_delinq:4-30      0.136326   2.143151e-01
97          mths_since_last_delinq:31-56      0.142278   1.091794e-03
98           mths_since_last_delinq:>=57      0.093427   9.703711e-01
99        mths_since_last_record:Missing      0.449531   4.001273e-01
100          mths_since_last_record:3-20      0.518187   2.269164e-02
101         mths_since_last_record:21-31      0.534656   3.870474e-02
102         mths_since_last_record:32-80      0.723685   2.590504e-30
103         mths_since_last_record:81-86      0.395866   4.716456e-02
104           mths_since_last_record:>86      0.401715   3.717570e-10

In [50]:
inputs_train.columns.values

array(['grade:A', 'grade:B', 'grade:C', 'grade:D', 'grade:E', 'grade:F',
       'home_ownership:OWN', 'home_ownership:MORTGAGE',
       'addr_state:NM_VA', 'addr_state:NY',
       'addr_state:OK_TN_MO_LA_MD_NC', 'addr_state:CA',
       'addr_state:UT_KY_AZ_NJ', 'addr_state:AR_MI_PA_OH_MN',
       'addr_state:RI_MA_DE_SD_IN', 'addr_state:GA_WA_OR',
       'addr_state:WI_MT', 'addr_state:TX', 'addr_state:IL_CT',
       'addr_state:KS_SC_CO_VT_AK_MS', 'addr_state:WV_NH_WY_DC_ME_ID',
       'verification_status:Not Verified',
       'verification_status:Source Verified', 'purpose:credit_card',
       'purpose:debt_consolidation', 'purpose:oth__med__vacation',
       'purpose:major_purch__car__home_impr', 'initial_list_status:w',
       'term:36', 'emp_length:1', 'emp_length:2-4', 'emp_length:5-6',
       'emp_length:7-9', 'emp_length:10', 'mths_since_issue_d:<38',
       'mths_since_issue_d:38-39', 'mths_since_issue_d:40-41',
       'mths_since_issue_d:42-48', 'mths_since_issue_d:49-52',
       'mths_since_issue_d:53-64', 'mths_since_issue_d:65-84',
       'int_rate:<9.548', 'int_rate:9.548-12.025',
       'int_rate:12.025-15.74', 'int_rate:15.74-20.281',
       'mths_since_earliest_cr_line:141-164',
       'mths_since_earliest_cr_line:165-247',
       'mths_since_earliest_cr_line:248-270',
       'mths_since_earliest_cr_line:271-352',
       'mths_since_earliest_cr_line:>352', 'delinq_2yrs:0',
       'delinq_2yrs:1-3', 'inq_last_6mths:0', 'inq_last_6mths:1-2',
       'inq_last_6mths:3-6', 'open_acc:1-3', 'open_acc:4-12',
       'open_acc:13-17', 'open_acc:18-22', 'open_acc:23-25',
       'open_acc:26-30', 'open_acc:>=31', 'pub_rec:3-4', 'pub_rec:>=5',
       'total_acc:28-51', 'total_acc:>=52', 'acc_now_delinq:>=1',
       'total_rev_hi_lim:5K-10K', 'total_rev_hi_lim:10K-20K',
       'total_rev_hi_lim:20K-30K', 'total_rev_hi_lim:30K-40K',
       'total_rev_hi_lim:40K-55K', 'total_rev_hi_lim:55K-95K',
       'total_rev_hi_lim:>95K', 'annual_inc:20K-30K',
       'annual_inc:30K-40K', 'annual_inc:40K-50K', 'annual_inc:50K-60K',
       'annual_inc:60K-70K', 'annual_inc:70K-80K', 'annual_inc:80K-90K',
       'annual_inc:90K-100K', 'annual_inc:100K-120K',
       'annual_inc:120K-140K', 'annual_inc:>140K', 'dti:<=1.4',
       'dti:1.4-3.5', 'dti:3.5-7.7', 'dti:7.7-10.5', 'dti:10.5-16.1',
       'dti:16.1-20.3', 'dti:20.3-21.7', 'dti:21.7-22.4', 'dti:22.4-35',
       'mths_since_last_delinq:Missing', 'mths_since_last_delinq:4-30',
       'mths_since_last_delinq:31-56', 'mths_since_last_delinq:>=57',
       'mths_since_last_record:Missing', 'mths_since_last_record:3-20',
       'mths_since_last_record:21-31', 'mths_since_last_record:32-80',
       'mths_since_last_record:81-86', 'mths_since_last_record:>86'],
      dtype=object)

In [58]:
#open_acc, total_acc,pub_rec,total_rev_hi_lim,delinq_2yrs
# these 5 features have very less importasnce 
# so we can drop these

In [60]:
# We are going to remove some features, the coefficients for all or almost all of the dummy variables for which,
# are not tatistically significant or p_value > 0.05.

# We do that by specifying another list of dummy variables as reference categories, and a list of variables to remove.
# Then, we are going to drop the two datasets from the original list of dummy variables.

# Variables
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86',
]]

In [61]:
ref_categories = ['grade:G',
'home_ownership:RENT',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [82]:
inputs_train2 = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train2.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
327896,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
237691,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
249332,0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
88093,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
217265,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [84]:
feature_name = inputs_train2.columns.values
feature_name

array(['grade:A', 'grade:B', 'grade:C', 'grade:D', 'grade:E', 'grade:F',
       'home_ownership:OWN', 'home_ownership:MORTGAGE',
       'addr_state:NM_VA', 'addr_state:NY',
       'addr_state:OK_TN_MO_LA_MD_NC', 'addr_state:CA',
       'addr_state:UT_KY_AZ_NJ', 'addr_state:AR_MI_PA_OH_MN',
       'addr_state:RI_MA_DE_SD_IN', 'addr_state:GA_WA_OR',
       'addr_state:WI_MT', 'addr_state:TX', 'addr_state:IL_CT',
       'addr_state:KS_SC_CO_VT_AK_MS', 'addr_state:WV_NH_WY_DC_ME_ID',
       'verification_status:Not Verified',
       'verification_status:Source Verified', 'purpose:credit_card',
       'purpose:debt_consolidation', 'purpose:oth__med__vacation',
       'purpose:major_purch__car__home_impr', 'initial_list_status:w',
       'term:36', 'emp_length:1', 'emp_length:2-4', 'emp_length:5-6',
       'emp_length:7-9', 'emp_length:10', 'mths_since_issue_d:<38',
       'mths_since_issue_d:38-39', 'mths_since_issue_d:40-41',
       'mths_since_issue_d:42-48', 'mths_since_issue_d:49-52',
       'mths_since_issue_d:53-64', 'mths_since_issue_d:65-84',
       'int_rate:<9.548', 'int_rate:9.548-12.025',
       'int_rate:12.025-15.74', 'int_rate:15.74-20.281',
       'mths_since_earliest_cr_line:141-164',
       'mths_since_earliest_cr_line:165-247',
       'mths_since_earliest_cr_line:248-270',
       'mths_since_earliest_cr_line:271-352',
       'mths_since_earliest_cr_line:>352', 'inq_last_6mths:0',
       'inq_last_6mths:1-2', 'inq_last_6mths:3-6', 'acc_now_delinq:>=1',
       'annual_inc:20K-30K', 'annual_inc:30K-40K', 'annual_inc:40K-50K',
       'annual_inc:50K-60K', 'annual_inc:60K-70K', 'annual_inc:70K-80K',
       'annual_inc:80K-90K', 'annual_inc:90K-100K',
       'annual_inc:100K-120K', 'annual_inc:120K-140K', 'annual_inc:>140K',
       'dti:<=1.4', 'dti:1.4-3.5', 'dti:3.5-7.7', 'dti:7.7-10.5',
       'dti:10.5-16.1', 'dti:16.1-20.3', 'dti:20.3-21.7', 'dti:21.7-22.4',
       'dti:22.4-35', 'mths_since_last_delinq:Missing',
       'mths_since_last_delinq:4-30', 'mths_since_last_delinq:31-56',
       'mths_since_last_delinq:>=57', 'mths_since_last_record:Missing',
       'mths_since_last_record:3-20', 'mths_since_last_record:21-31',
       'mths_since_last_record:32-80', 'mths_since_last_record:81-86',
       'mths_since_last_record:>86'], dtype=object)

In [85]:
reg2 = LogisticRegression()
reg2.fit(inputs_train, loan_data_targets_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [67]:
# Same as above.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg2.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg2.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

                    Feature name  Coefficients
0                      Intercept     -1.353597
1                        grade:A      1.050039
2                        grade:B      0.953428
3                        grade:C      0.766366
4                        grade:D      0.574605
..                           ...           ...
80   mths_since_last_record:3-20      0.531544
81  mths_since_last_record:21-31      0.523750
82  mths_since_last_record:32-80      0.701796
83  mths_since_last_record:81-86      0.370488
84    mths_since_last_record:>86      0.395333

[85 rows x 2 columns]

In [86]:
pickle.dump(reg2, open('pd_model.sav', 'wb'))
# Here we export our model to a 'SAV' file with file name 'pd_model.sav'.